# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\BYUI\BYU-I\Sophomore Year\Semester 02\CS246 Software Design and Development\Week 03\HelloFromJeffery\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
